{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}Upload{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"> 

<!-- mobirise CSS -->
<link rel="stylesheet" href="../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/assets/dropdown/css/style.css">
<link rel="stylesheet" href="../static/assets/mobirise/css/mbr-additional.css" type="text/css">
<link rel="shortcut icon" type="/image/png" href="{{ url_for('static',filename='img/logo.png') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/upload_style.css') }}">
{% endblock %}

{% block body %}
<div class="card border-0 bg-light text">
  <img class='card-img-top img-rounded' src="../static/img/upload_bg2.jpg" >
  <div class='card-img-overlay'>

    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-4">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm" style="background-color:#563d7c">
            <a href="/">
                    <img src="../static/assets/images/logo.png" style="height: 3.6rem; margin-left:50px">
                    <a href="/"> 
                    <img src="../static/assets/images/logo_text.png" style="height: 3.6rem;"
                    > 
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
<!--             <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                                <img src="../static/assets/images/logo.png" style="height: 3.6rem;">
                        </a>
                    </span>
                </div>
            </div> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/user_home/{{ uuid }}">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                            User Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/files">
                            Files
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/submit_poll" >
                            Poll
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </section>
    <h2>Upload Your Photos</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center mt-5">
                <div class="col-12-sm mt-3">
                    <form action="/upload" method='POST' enctype='multipart/form-data'>
                        {{ form.csrf_token }}
                        <br></br>
                        <p>{{ form.upload(multiple="multiple") }}</p>
                        <br></br>
                        <button class="btn border-0" type='submit' style="background-color:#563d7c; color:white;">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container">
        <div class="content">
            <!-- flash messages-->
            {% for info_message in get_flashed_messages(category_filter=["info"]) %}
            <div class="alert alert-info alert-admissible" role="alert">{{ info_message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <!-- mobirise Scripts -->
    <script src="../static/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/dropdown/js/script.min.js"></script>
{% endblock %}